.container {
    position: absolute;
    height: 100vh;
    min-height: 360px;
    width: 100vw;
}
.mainContainer {
background-color: rgb(245, 245, 245);   
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    
    padding: 10px;
    height: 360px;
    width: 100vw;
    min-width: 280px;
    max-width: 300px;
    border-radius: 10px;
  
    overflow: hidden;
}
.vector {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 70px;
    width: 100vw;
    background-image: url(../public/vector-bottom.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
    z-index: 100;    
}
.button {
    position: absolute;
    right: 10px;
    bottom: 20px;
    cursor: pointer;
    font-size: 12px;
    color: white;
    padding: 5px 1px;
    background-color: rgba(0, 52, 80, .7);
    background-image: url(../public/whatsapp.svg);
    background-repeat: no-repeat;
    background-position: 5px 3px;
    background-size: 18px;
    width: 120px;
    border: 2px solid #d6d6d6;
    border-radius: 5px;    
}
@media (max-height: 360px) { 
    .vector {
        position: absolute;
        z-index: 0;
    }
}
@media (min-height: 360px) { 
    .mainContainer {
        height: 430px;
    }
}
