.main {
    background-color: #01afff;
    min-height: 100vh;
}
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
}
.boxMain {
    background-color: rgb(0, 0, 0);
    border: 1px solid #1eff00;
    width: 90%;
    max-width: 500px;
    height: 60%;
    min-height: 90px;
    border-radius: 10px;
    margin-top: 3px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box {
    background-color: #3cceff;
    border: 1px solid #8de2ff;
    width: 90%;
    max-width: 500px;
    height: 50px;
    border-radius: 10px;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.button {
    background-color: red;
    color: white;
    width: 90%;
    max-width: 500px;
    height: 50px;
    border-radius: 10px;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
}
.red {
    background-color: red;
}
.green {
    background-color: rgb(0, 255, 0);
}
.textCont {
    position: relative;
    background-color: transparent;
    width: 90%;
    max-width: 500px;
    border-radius: 5px;
    margin-top: 15px;
   
}
.white {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 25px;
  
}
.black {
    position: absolute;
    right: 0;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

