.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

}
.box {
    background-color: black;
    border-radius: 10px;
}
.title {
    color: orange;
    padding: 0;
    margin: 0;
}
.subtitle {
    color: white;
    padding: 0;
    margin: 0;
}
.list {
    list-style: none;
    padding: 0 25px;
    margin-top: 20px;
}
.li {
    text-align: left;
}
.right {
  padding-left: 8px;
}
.form {
    width: 100%;

}
.input {
    border: none;
    border-bottom: 1px solid black;
    width: 90%;
    background-color: white;
    margin-top: 10px;
    text-align: center;
    height: 18px;
    border-radius: 3px;
    margin-bottom: 15px;
  }
 
  .code {
    display: inline-block;
    font-size: 14px;
    width: 90%;
    background-color: #003450;
    color: orange;
    margin-top: 10px;
    text-align: center;
    height: 18px;
    border-radius: 3px;
    margin-bottom: 15px;
  }



.enlace {
    color: #003450;
    font-size: 10px;
    text-decoration: underline;
    margin-top: 15px;
}