.box {
    background-color: black;
    border-radius: 5px;
    width: 80%;
    padding: 5px;
    margin-top: 20px;
}
.title {
    color: orange;
    padding: 0;
    margin: 0;
}
.subtitle .subtitleTwo{
    color: white;
    padding: 0;
    margin: 0;
    animation-name: myAnimation;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-delay: 3s;
}
.subtitleTwo {
    animation-delay: 1.5s;
}
@keyframes myAnimation{
	0% {display: block};
	50%{display: none};
}
