.box {
    background-color: black;
    border-radius: 5px;
    width: 80%;
    padding: 5px;
    margin-top: 20px;
}
.title {
    color: orange;
    padding: 0;
    margin: 0;
}
.cont {
    position: relative;
    background-color: red;
}
.subtitle {
  position: absolute;
  color: white;
  background-color: #DE2222;
  height: 30px;
  width: 30px;
  left: 0;
  right: 0;
  margin: auto;
    
}

 .subtitleTwo{
  position: absolute;
  color: white;
  background-color: #DE2222;
  height: 30px;
  width: 30px;
  left: 0;
  right: 0;
  margin: auto;
}
@keyframes myAnimation{
	0% {color: red}
}
