
.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  display: block;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
}
.subtitle {
  display: block;
  text-align: center;
  display: inline-block;
  margin: 8px;
}
.orange {
  color: orange;
}


.grid {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}


.form {
  position: relative;
  display: flex;
   margin: 20px; 
}

.modalInput {
  border: 1px solid white;
  border-bottom: 1px solid black;
  text-align: center;
}
.textModal {
  background-color: black;
  color: orange;
  padding: 5px;
  width: 97%;
  margin-top: 20px;
}
.modalButton {
  border: none;
  border: 1px solid black;
  text-align: center;
  color: orange;
  background-color: rgba(9, 255, 0, 0);
  border-radius: 5px 5px;
}
.perfil {
  width: 250px;
  height: 130px;
  object-fit:cover;
  object-position: top;
}