
.main {
    background-color: #01afff;
    min-height: 100vh;
}
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 30px;
}
.perfil {
    width: 250px;
    height: 130px;
    object-fit:cover;
    object-position: top;
}
.greeting {
    text-align: center;
    color: white;
    font-size: 20px;
    line-height: 20px;
    width: 90%;
}
.containerMap {
    background-color: black;
    width: 85%;
    max-width: 800px;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    color: #1eff00;
    min-height: 100px;
}
.item {

    font-size: 16px;
    text-align: left;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0;
    color: #1eff00;
 
    
    
}
.progressPorcent {
    right: 0;
    width: 50%;
    height: 15px;
    background-color: aliceblue;
    border-radius: 15px;
    overflow: hidden;
    color: black;
    text-align: center;
}
.porcent {
    text-align: center;
    color: black;
  
}
.buttonBack {
    display: inline-block;
    color: rgb(255, 255, 255);
    background-color: red;
    font-size: 16px;
    text-align: center;
    width: 95%;
   
    max-width: 400px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
}
.viewGrid {
    display: none;
    width: 100%;
}
.visibility {
    display: inline-block;
}
.grid {
position: relative;
right: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
  }
@media (orientation: landscape) and (min-width: 600px) { 
    .progressPorcent {
        width: 60%;
    }
 }


